@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-100 dark:bg-gray-700;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 dark:bg-gray-600;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }
}



/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* For horizontal scroll */
}

/* The track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* The draggable handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Creates a padding effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}



.glowing-container {
  /* Initial Styles */
  /* border-radius: 12px; */
  /* background: #1a1a1a;  */
  /* padding: 20px; */
  
  /* Apply the animation */
  animation: glow-move 3s infinite alternate;
}

@keyframes glow-move {
  0% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.2), 0 0 70px rgba(59, 130, 246, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.4), 0 0 180px rgba(139, 92, 246, 0.4);
  }
  100% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.2), 0 0 70px rgba(59, 130, 246, 0.2);
  }
}